
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>
@using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <hr />
                    <div class="text-success">
                        @ViewBag.message
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-1">Email Id</label>
                        @Html.TextBox("Email ID","",new { @class = "form--control"})
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit"value="submit"class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }

